/*カレンダー部分*/
.calendar{
    background: white;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 0 20px;
}

.calendar__conteinar{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.calendar__inner{
    cursor: pointer;
}

.date__container{
    display: flex;
    align-items: center;
}

.arrow-left__icon {
    margin-right: 3px;
}

.arrow-right__icon{
    margin-left: 3px;
}

.calendar__text{
    font-size: 15px;
    color: rgb(168, 155, 155);
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.date__text{
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

/*テーブル*/
.table {
    background: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    border-collapse: collapse;
    table-layout: fixed; /*列幅の固定*/
}

.table__label, 
.table__data {
    font-size: 15px;
    color: rgb(147, 135, 135);
    padding: 10px 80px 8px 0;
    text-align: center;
    white-space: nowrap; /*テキストを折り返さない*/
}

.table__label:first-of-type,
.table__data:first-of-type {
    width: 25%;
    padding-right: 120px;
    padding-left: 40px;
}


