.register__content{
    margin: 0 auto;
}

.register__content--inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.work__status{
    background: rgb(205, 198, 193);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 20px;
}

.date{
    font-size: 50px;
    margin-top: 20px;
}

.time{
    font-size: 70px;
    font-weight: bold;
    margin: 5px 0 40px 0;
}

.register__btn{
    background: #000;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.break__btn{
    background: white;
    color: black;
    border: none;
}

.form__container{
    display: flex;
    gap: 50px;
}

.clock-out__message{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}